<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        {% if title %}
        <title>{{title}}</title>
        {% else %}
        <title>Welcome to SingleSite</title>
        {% endif %}
        <link rel="stylesheet" href="{{url_for("static", filename="css/base.css")}}" type="text/css">
    </head>
    <body>
        <div class="nav">
            <a href="{{url_for("index")}}">Home</a>
            <a href="{{url_for("explore")}}">Explore</a>
            {% if current_user.is_anonymous %}
            <a href="{{url_for("login")}}">Sign in</a>
            {% else %}
            <a href="{{url_for("logout")}}">Logout</a>
            <a href="{{url_for("user", username=current_user.username)}}">
                Hi! {{current_user.username}}
            </a>
            {% endif %}
            <hr>
        </div>
        <div class="sidenav">
            {% for category in categories %}
            <a href="{{url_for("category", name=category)}}">{{category}}</a>
            {% endfor %}
        </div>
        <div class="main">
            <div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{message}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
{{moment.include_jquery()}}
{{moment.include_moment()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/10.0.0/markdown-it.min.js"></script>
<script charset="utf-8">
{% block script %}{% endblock %}
</script>
