<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        {% if title %}
        <title>{{title}}</title>
        {% else %}
        <title>Welcome to SingleSite</title>
        {% endif %}
    </head>
    <body>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        <div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
