{% extends "base.html" %}

{% block content %}
{% if form %}
<form method="post" accept-charset="utf-8">
    {{form.hidden_tag()}}
    <p>
    <label>{{form.post_title.label}}</label><br>
    {{form.post_title}}
    {% for error in form.post_title.errors %}
    <span style="color:red;">[{{error}}]</span>
    {% endfor %}
    </p>
    <p>
    <label>{{form.post_category.label}}</label>
    {{form.post_category}}
    {% for error in form.post_category.errors %}
    <span style="color:red;">[{{error}}]</span>
    {% endfor %}
    </p>
    <p>
    <label>{{form.post_body.label}}</label><br>
    {{form.post_body}}
    {% for error in form.post_body.errors %}
    <span style="color:red;">[{{error}}]</span>
    {% endfor %}
    </p>
    {{form.submit}}
</form>
{% endif %}
{% for post in posts %}
<p>
    {% include "_post.html" %}
</p>
{% endfor %}
{% if prev_url %}
<a href="{{prev_url}}">Last page</a>
{% endif %}
{% if next_url %}
<a href="{{next_url}}">Next page</a>
{% endif %}
{% endblock %}
